@import "~/assets/fonts/Boxicons/css/boxicons.css";

@font-face {
  src: url("~/assets/fonts/Aquatico/Aquatico-Regular.woff2");
  font-family: "Aquatico";
  font-weight: normal;
  font-display: swap;
}

@font-face {
  src: url("~/assets/fonts/NanumSquareRound/NanumSquareRoundOTFL.woff2");
  font-family: "NanumSquareRound";
  font-weight: 300;
  font-display: swap;
}

@font-face {
  src: url("~/assets/fonts/NanumSquareRound/NanumSquareRoundOTFR.woff2");
  font-family: "NanumSquareRound";
  font-weight: 400;
  font-display: swap;
}

@font-face {
  src: url("~/assets/fonts/NanumSquareRound/NanumSquareRoundOTFB.woff2");
  font-family: "NanumSquareRound";
  font-weight: 700;
  font-display: swap;
}

@font-face {
  src: url("~/assets/fonts/NanumSquareRound/NanumSquareRoundOTFEB.woff2");
  font-family: "NanumSquareRound";
  font-weight: 900;
  font-display: swap;
}

* {
  font-family: "NanumSquareRound";
}
