@import "~/assets/fonts/Boxicons/css/boxicons.css";
@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css");

@font-face {
  src: url("~/assets/fonts/Aquatico/Aquatico-Regular.woff2");
  font-family: "Aquatico";
  font-weight: normal;
  font-display: swap;
}

* {
  font-family: "NanumSquare";
}
