@import "~/assets/fonts/Boxicons/css/boxicons.css";

@font-face {
  src: url("~/assets/fonts/Aquatico/Aquatico-Regular.woff2");
  font-family: "Aquatico";
  font-weight: normal;
  font-display: swap;
}

@font-face {
  src: url("~/assets/fonts/NanumSquareRound/NanumSquareRoundOTFL.woff2");
  font-family: "NanumSquareRound";
  font-weight: 300;
  font-display: swap;
}

@font-face {
  src: url("~/assets/fonts/NanumSquareRound/NanumSquareRoundOTFR.woff2");
  font-family: "NanumSquareRound";
  font-weight: 400;
  font-display: swap;
}

@font-face {
  src: url("~/assets/fonts/NanumSquareRound/NanumSquareRoundOTFB.woff2");
  font-family: "NanumSquareRound";
  font-weight: 700;
  font-display: swap;
}

@font-face {
  src: url("~/assets/fonts/NanumSquareRound/NanumSquareRoundOTFEB.woff2");
  font-family: "NanumSquareRound";
  font-weight: 900;
  font-display: swap;
}

* {
  font-family: "NanumSquareRound";
  transition: 300ms background-color, 300ms color, 300ms border;
}

body {
  .ant-switch {
    height: 28px;
    width: 56px;

    .ant-switch-handle {
      width: 24px;
      height: 24px;

      &::before {
        border-radius: 50%;
      }
    }

    .ant-switch-inner {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .ant-switch-checked .ant-switch-handle {
    left: calc(100% - 24px - 2px);
  }
}
